<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospedagens</title>
</head>
<body>
<th:block th:if="${colocarMensagemSucesso}">
    <span><b>Operação realizada com sucesso!</b></span>
</th:block>

  <ul>
      <th:block th:each="h : ${hospedagens}">
        <a th:href="${'/hospedagem/atualizar/' + h.id}"><li th:text="${h.nome}"></li></a>
      </th:block>
  </ul>
</body>
</html>