<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript" src="/js/hospedagem/reservar.js"></script>

    <title>Hospedagem - Cuidado com pets</title>
</head>
<body id="hospedagem">

<div th:replace="~{fragments/header :: header}"></div>

<th:block th:if="${colocarMensagemSucesso}">
    <div class="alert alert-success" role="alert"><b>Operação realizada com sucesso!</b></div>
</th:block>

<div class="box px-5">
    <div id="opcao">
        <div class="filtros row">
            <div class="dropdown filtro col-2">
                <label>Tipo</label>
                <select class="form-select" id="tipo">
                    <option value="NULL">Selecione...</option>
                    <option value="PARCEIRO">Parceiro</option>
                    <option value="HOTEL">Hotel</option>
                    <option value="SPA">Spa</option>
                </select>
            </div>

            <div class="filtro data col-2">
                <label>Data</label>
                <input class="form-control" type="text" id="range" name="daterange" value="01/07/2021 - 10/07/2021">
            </div>

            <div class="filtro preco col-2">
                <label>Preço mínimo</label>
                <input  class="form-control" type="number" min="0" max="10000" step="10" id="valorMinimo">
            </div>
            <div class="filtro preco col-2">
                <label>Preço máximo</label>
                <input class="form-control" type="number" min="0" max="10000" step="10" id="valorMaximo">
            </div>
            <div class="botao col-2">
                <a href="#" class="btn btn-padrao" id="filtrar-button">Filtrar</a>
            </div>
        </div>
        <ul>
            <th:block th:each="h : ${hospedagens}">
                <div class="card-body" >
                    <h6 th:text="${h.nome} " class="card-subtitle mb-2 text-muted">${h.nome}</h6>
                    <p th:text="${'Tipo: '  + h.tipoHospedagem}" class="card-text">th:text="${h.tipoHospedagem}"</p>
                    <p th:text="${'Valor diário: R$'  + h.valorDiaria}" class="card-text">th:text="${h.valorDiaria}"</p>
                    <p th:text="${'Telefone: '  + h.telefone}" class="card-text">th:text="${h.telefone}</p>
                    <p th:text="${'Endereço: '  + h.endereco}" class="card-text">th:text="${h.endereco}</p>
                    <a th:href="${'/hospedagem/reservar/' + h.id}" class="btn btn-padrao">Reservar</a>
                </div>
            </th:block>
        </ul>

    </div>

</div>
<!-- Footer-->
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/hospedagem/listar.js" ></script>
</body>

</html>