<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{assets/adocao.css}"  rel="stylesheet">
    <title>Adoção</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container" id="adote">
        <h1 class="mt-5 text-center" th:text="${pet.nome}"></h1>
        <div class="d-flex row-cols-2 justify-content-evenly">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:if="${pet.getImagem() ne null}" th:src="${pet.getImagem()}">
                <div class="card-body">
                    <p class="card-text" th:text="${'Raça: ' + pet.raca}"></p>
                    <p class="card-text" th:text="${'Idade: ' + pet.idade}"></p>
                    <p class="card-text" th:text="${'Endereço: ' + pet.endereco}"></p>
                    <form th:object="${pet}" th:action="@{/adocao/adotar}" method="post">
                        <input type="hidden" id="id" name="id" th:value="${pet.id}">
                        <button class="mb-2 btn btn-primary" type="submit" id="reservar-button">Adote</button>
                    </form>
                </div>
            </div>
            <div>
                <p>
                    Brownie pudding macaroon fruitcake dessert tiramisu chupa chups sweet.
                    Sugar plum dragée croissant cookie muffin cake apple pie gummi bears.
                    Icing topping cake croissant gummi bears. Powder sweet roll soufflé halvah lemon drops tart.
                    Gingerbread powder donut candy dragée.
                    Cookie gummies topping jelly brownie chocolate cake jelly-o.
                    Icing icing marshmallow pie ice cream marshmallow brownie.
                    Brownie pudding macaroon fruitcake dessert tiramisu chupa chups sweet.
                    Sugar plum dragée croissant cookie muffin cake apple pie gummi bears.
                    Chocolate cake dragée tootsie roll chocolate tootsie roll gummies.
                    Cupcake jelly-o caramels.
                </p>
            </div>
        </div>
        <div class="container medias mt-5">
            <div class="d-flex justify-content-evenly images">
                <img alt="imagem de gatinho"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTohIHVxx70U8hz2Lx4TIzeB1cts-PfavaBBA&usqp=CAU">
                <img alt="imagem de gatinho"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTohIHVxx70U8hz2Lx4TIzeB1cts-PfavaBBA&usqp=CAU">
                <img alt="imagem de gatinho"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTohIHVxx70U8hz2Lx4TIzeB1cts-PfavaBBA&usqp=CAU">
                <img alt="imagem de gatinho"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTohIHVxx70U8hz2Lx4TIzeB1cts-PfavaBBA&usqp=CAU">
            </div>
            <div class="mt-5 d-flex justify-content-evenly videos">
                <video width="320" height="240" controls>
                    <source src="https://youtu.be/XiCknbJQCyk" type="video/mp4" crossorigin>
                </video>
                <video width="320" height="240" controls>
                    <source src="https://youtu.be/XiCknbJQCyk" type="video/mp4" crossorigin>
                </video>
                <video width="320" height="240" controls>
                    <source src="https://youtu.be/XiCknbJQCyk" type="video/mp4" crossorigin>
                </video>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>