<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
  <form th:action="@{/profissional/avalia}" method="post" th:object="${avaliaProfissionalDTO}">
      <input type="hidden" th:field="*{usuarioId}">
      <input type="hidden" th:field="*{profissionalId}">
      Nota (de 1.0 a 100.0): <input th:field="*{nota}" type="number">

      <button type="submit"> Avaliar </button>

  </form>
</body>
</html>