<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
  <title>Profissional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
    <div class="container">
        <h2 th:text="${#strings.capitalize(pagina) + ' Profissional'}"></h2>
        <form th:action="${'/profissional/' + pagina}" method="post" th:object="${profissional}">
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input class="form-control" type="text" th:field="*{nome}" placeholder="Nome"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Estado</label>
                <select th:field="*{estado}">
                    <option th:if="${estadoSelecionado == e}"  th:each="e : ${estados}" th:value="${e}" th:text="${e}" selected="selected">
                    </option>
                    <option th:if="${estadoSelecionado != e}"  th:each="e : ${estados}" th:value="${e}" th:text="${e}" >
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Cidade</label>
                <select th:field="*{cidade}">
                    <option th:each="c : ${cidades}" th:value="${c}" th:text="${c}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Telefone</label>
                <input class="form-control" type="text" th:field="*{telefone}" placeholder="Telefone"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="text" th:field="*{email}" placeholder="Email"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Chave Pix</label>
                <input class="form-control" type="text" th:field="*{chavePix}" placeholder="Chave Pix"/>
            </div>
            <input th:if="${pagina == 'alterar'}" type="hidden" name="id" th:value="${id}">
            <button class="btn btn-primary" type="submit" th:value="${pagina}" th:text="Cadastrar"></button>
        </form>
    </div>

    <!--  <div><input type="submit" th:value="${pagina}"/></div>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/profissional/cadastrar-editar.js"></script>
    <!-- Footer-->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>