<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Profissional</title>
</head>
<body>
<h1>Página de Perfil</h1>
<span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>

<div th:object="${profissional}">
    <div><label th:text="'Nome: ' + *{nome}"> </label></div>
    <div><label th:text="'Estado: ' + *{estado}"> </label></div>
    <div><label th:text="'Cidade: ' + *{cidade}"> </label></div>
    <div><label th:text="'Telefone: ' + *{telefone}"> </label></div>
    <div><label th:text="'Email: ' + *{email}"> </label></div>
    <div><label th:text="'Email: ' + *{chavePix}"> </label></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/profissional/cadastrar.js"></script>
</body>
</html>