#reservar-button {
    color: #4A12EE;
}

#adote {
    background: #F1FBFE;
}


#pet1 {
    max-width: 200px;
}

#pet2 {
    max-width: 200px;
}

#pet3 {
    max-width: 200px;
}

#pet4 {
    max-width: 200px;
}